.Git-logo {
    width: 150px;
}
.GitHub-logo {
    width: 100px;
}
img {
    color: antiquewhite;
}
h1 {
    font-family:system-ui;
    color: orange;
}
h2 {
    color: crimson;
}
li {
    color: black;   
}